In [1]:
import pandas as pd
data_frame = pd.read_csv("premier-league-data.csv")
data_frame.head()

           home_team          away_team  home_goals  away_goals
0  Manchester United     Leicester City           2           1
1   Newcastle United  Tottenham Hotspur           1           2
2    AFC Bournemouth       Cardiff City           2           0
3             Fulham     Crystal Palace           0           2
4  Huddersfield Town            Chelsea           0           3

What is the average goals per match?

In [8]:
average = (data_frame["home_goals"] + data_frame["away_goals"]).mean()
print(average)

2.8210526315789473

Create a new column called `total_goals`

In [9]:
data_frame["total_goals"] = data_frame["away_goals"] + data_frame["home_goals"]

data_frame.head()

           home_team          away_team  home_goals  away_goals  total_goals
0  Manchester United     Leicester City           2           1            3
1   Newcastle United  Tottenham Hotspur           1           2            3
2    AFC Bournemouth       Cardiff City           2           0            2
3             Fulham     Crystal Palace           0           2            2
4  Huddersfield Town            Chelsea           0           3            3

What is the biggest goal difference in a match?

In [10]:
(data_frame["home_goals"] - data_frame["away_goals"]).abs().max()

6

Create a column called `result` to see which team wont the match

In [13]:
data_frame["result"] = "H"
data_frame.loc[data_frame["home_goals"] < data_frame["away_goals"], "result"] = "A"
data_frame.loc[data_frame["home_goals"] == data_frame["away_goals"], "result"] = "D"

data_frame

,home_team,away_team,home_goals,away_goals,total_goals,result
0,Manchester United,Leicester City,2,1,3,H
1,Newcastle United,Tottenham Hotspur,1,2,3,A
2,AFC Bournemouth,Cardiff City,2,0,2,H
3,Fulham,Crystal Palace,0,2,2,A
4,Huddersfield Town,Chelsea,0,3,3,A
...,...,...,...,...,...,...
375,Liverpool,Wolverhampton Wanderers,2,0,2,H
376,Manchester United,Cardiff City,0,2,2,A
377,Southampton,Huddersfield Town,1,1,2,D
378,Tottenham Hotspur,Everton,2,2,4,D
379,Watford,West Ham United,1,4,5,A

What is the team with most away wins?

In [31]:
# Way 1
data_frame.loc[data_frame["result"] == "A"].groupby("away_team")["result"].size().sort_values(ascending=False).head(1)
# Way 2
data_frame.groupby("away_team").apply(lambda rows: (rows["result"] == "A").sum()).sort_values(ascending=False).head(1)

away_team
Manchester City    14
dtype: int64

What is the team with the most goals scored at home?

In [23]:
data_frame.groupby("home_team")["home_goals"].sum().sort_values(ascending=False).head(1)

home_team
Manchester City    57
Name: home_goals, dtype: int64

What is the team that recieved the least amount of goals while playing at home?

In [25]:
data_frame.groupby("home_team")["away_goals"].sum().sort_values().head(1)

home_team
Liverpool    10
Name: away_goals, dtype: int64

What is the team with most goals scored playing as a visitor?

In [27]:
data_frame.groupby("away_team")["away_goals"].sum().sort_values(ascending=False).head(1)

away_team
Manchester City    38
Name: away_goals, dtype: int64